.vacancy-page-card-empty {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  gap: 20px;
  width: 100%;
  min-height: 157px;
  background-color: #ffffff;
  border: 1px solid #eaebed;
  border-radius: 12px;
}