.arrow-down {
  width: 20px;
  height: 14px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-down svg {
  stroke: var(--color-gray-500);
}

.arrow-down:hover svg {
  stroke: var(--color-blue-400);
}

.arrow-down:active svg {
  stroke: var(--color-blue-500-main);
}
