.my-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.my-select label {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  height: 19px;
}

.my-select select {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
  height: 42px;
  padding: 11px 7px;
  padding-right: 20px;
  border: 1px solid #d5d6dc;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
}
.select-down-arrow {
  position: absolute;
  right: 2px;
  top: 36px;
  background-color: transparent;
  padding-right: 10px;
  pointer-events: none;
}
.my-select select option {
  padding: 0;
  color: #232134;
}

.my-select select option[value=""] {
  color: #acadb9;
}

select.my-select-loading {
  cursor: wait;
}

select.my-select-error {
  cursor: auto;
  color: #9e3029;
}

select.my-select-loading {
  animation: loading-select 3s linear infinite;
  background: linear-gradient(0deg, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
}

@keyframes loading-select {
  from {
    background-position-y: -19px;
  }
  to {
    background-position-y: 19px;
  }
}
