.my-link {
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
}
.my-link a {
  font-weight: 400;
  color: #232134;
  text-decoration: inherit;
}
.my-link a :hover {
  font-weight: 500;
  color: #5e96fc;
}

.my-link a.my-link_active {
  font-weight: 500;
  color: #5e96fc;
}
