.card-vacancy-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-s);
  color: var(--color-black);
  -webkit-hyphens: auto;
  hyphens: auto;
  text-align: left;
}

.card-vacancy-description-profession {
  font: var(--font--title-s-semibold);
  color: #5e96fc;
}

.card-vacancy-description-payment-and-typeofwork {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.card-vacancy-description-payment-and-typeofwork-payment {
  font: var(--font--title-xs-semibold);
}

.card-vacancy-description-payment-and-typeofwork-typeofwork {
  font: var(--font--text-base-m-regular);
}

.card-vacancy-description-town {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-vacancy-description-town-title {
  font: var(--font--text-base-m-regular);
}

.card-vacancy-description-firm {
  display: flex;
  align-items: center;
  font: var(--font--text-base-m-regular);
}
