.vacancies-page {
  display: grid;
  grid-template:
    "filter search"
    "filter cards"
    "filter paginate"
    / 315px 1fr;
  gap: 16px 28px;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  .vacancies-page {
    grid-template:
      "filter"
      "search"
      "cards"
      "paginate" 
      / 100%;
    width: 90%;
    gap: 16px;
  }
}

.vacancies-page-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
