.vacancies-page {
  display: flex;
  gap: 28px;
  width: 100%;
  justify-content: center;
}
.vacancies-page-pages {
  width: calc(100% - 343px);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
@media screen and (max-width: 640px) {
  .vacancies-page {
    flex-direction: column;
    align-items: center;
  }
  .vacancies-page-pages {
    width: 90%;
  }
}

.vacancies-page-pages-cards {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  align-items: center;
}

.vacancies-page-pages-cards-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
