.card-vacancy-loading div {
  animation: card-vacancy-loading 3s linear infinite;
  background: linear-gradient(0deg, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
}

@keyframes card-vacancy-loading {
  from {
    background-position-y: -137px;
  }
  to {
    background-position-y: 137px;
  }
}
