.arrow-up-icon {
    width: 20px;
    height: 14px;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow-up-icon svg {
  stroke: var(--color-gray-500);
}

.arrow-up-icon:hover svg {
  stroke: var(--color-blue-400);
}

.arrow-up-icon:active svg {
  stroke: var(--color-blue-500-main);
}
