.star-icon {
  width: 24px;
  height: 24px;
}

.star-icon svg {
  stroke: var(--color-gray-500);
}

.star-icon:hover svg {
  stroke: var(--color-blue-500-main);
}

.star-icon-filled svg,
.star-icon-filled:hover svg {
  stroke: var(--color-blue-500-main);
  fill: var(--color-blue-500-main);
}
