.filter-vacancies {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  height: min-content;
  padding: 20px;
  background-color: white;
  border: 1px solid #eaebed;
  border-radius: 12px;
  grid-area: filter;
}

.filter-vacancies-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-vacancies-header-formname {
  font: var(--font--title-s-bold);
}

.filter-vacancies-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-vacancies-form_hide {
  height: 0px;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .filter-vacancies {
    width: 100%;
  }
}
