.card-vacancy-empty {
  display: flex;
  justify-content: space-between;
  padding: var(--card-vacancy--padding);
  width: 100%;
  background-color: var(--color-white);
  border: var(--card-vacancy--border);
  border-radius: var(--border-radius-l);
  gap: var(--gap-xxs);
}

a:has(.card-vacancy-empty) {
  text-decoration: none;
  outline: none;
}

a:has(.card-vacancy-empty):focus .card-vacancy-empty {
  border: var(--card-vacancy--border-focus);
}