.vacancy-page-card-loading div {
  animation: vacancy-page-card-loading 3s linear infinite;
  background: linear-gradient(0deg, #ffffff 0%, #eeeeee 50%, #ffffff 100%);
}

@keyframes vacancy-page-card-loading {
  from {
    background-position-y: -157px;
  }
  to {
    background-position-y: 157px;
  }
}
