.empty-search {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin-bottom: 44px;
}

.empty-search-text {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #343a40;
}

.empty-search-button button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  width: 164px;
  height: 42px;
  background: #deecff;
  border-radius: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 155%;
  color: #3b7cd3;
  cursor: pointer;
  text-decoration: none;
}

.empty-search-button a {
  text-decoration: none;
}

.empty-search-button button:hover {
  background: #c1d9fc;
}
